.page-info
{
	margin-top:10px;
	font-size:18px;
}

.pagination
{
	margin-top:5px;
}

.content p{
	margin-bottom: 25px;
}

.page-numbers{
	display: inline-block;
}

a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border:thin solid #555;
	font-size: 14px;
}

a.active{
	background-color: #0d81cd;
	color: #fff;
	border:thin solid #0d81cd;
}

a:focus{
	border:1px solid #00ff00;
}

.pagi
{
   
   position: relative;;
   float: right;
   margin-right: 20px;
   
}